/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.phpunit.result.cache
.phpstorm.meta.php
.idea
.php_cs
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vscode
/.fleet
/.DS_Store
